//======== Main =========

// Fix bootstrap btn content too long to cause grid system collape.
.nowrap-fix {
	position: relative;	
	height: 80px;	
	margin-bottom: 3%;

	.btn-wrapper {		
		position: absolute;    		
        left: 50%;
        top: 0;
        margin-left: -48%;  

	    background-color: #525252;
	    display: block;
	    width: 96%;	   
	    padding: 0 5px 12px 5px;
	    border: 3px solid rgba(0,0,0,0.3);
	    border-width: 3px 0 0 3px;
	    .border-radius(20px);	
	}
}
.btn-question {
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
}
.pagination li {
	display: inline-block;
	text-align: center;
	
	a {	
		border-radius: 20px !important;	
	}
}