// ====================================
// Kiosk Type
// ====================================

// preset
// Q : 不應該一個一個去指定，應修正成去改bootstrap 的預設font-size
.container {
  @media (max-width: @screen-xs-max) {
    h1, .h1 { font-size: @font-size-h2; }
    h2, .h2 { font-size: @font-size-h3; }
    h3, .h3 { font-size: @font-size-h4; }
    h4, .h4 { font-size: @font-size-h5; }
  }
  @media (min-width: @screen-sm-min) {
    h1, .h1 { font-size: @font-size-h2; }
    h2, .h2 { font-size: @font-size-h3; }
    h3, .h3 { font-size: @font-size-h4; }
    h4, .h4 { font-size: @font-size-h5; }
  }
  @media (min-width: @screen-md-min) {
    h1, .h1 { font-size: @font-size-h2; }
    h2, .h2 { font-size: @font-size-h3; }
    h3, .h3 { font-size: @font-size-h4; }
    h4, .h4 { font-size: @font-size-h5; }
    h5, .h5 { font-size: @font-size-h6; }
  }
  @media (min-width: @screen-lg-min) {
    // bootstrap default
    h1, .h1 { font-size: @font-size-h1; }
    h2, .h2 { font-size: @font-size-h2; }
    h3, .h3 { font-size: @font-size-h3; }
    h4, .h4 { font-size: @font-size-h4; }
    h5, .h5 { font-size: @font-size-h5; }
    h6, .h6 { font-size: @font-size-h6; }
  }
}


// Headings
// ------------ prepare to delete -------------
// h1, .h1 {
//   line-height: 1;
//   margin-top: (@line-height-computed / 2);
//   margin-bottom: (@line-height-computed / 4);
// }
// h2, .h2 {
//   line-height: 1;
//   margin-top: (@line-height-computed / 4);
//   margin-bottom: (@line-height-computed / 6);
// }
// h3, .h3 {
//   line-height: 1;
//   margin-top: (@line-height-computed / 8);
//   margin-bottom: (@line-height-computed / 9);
// }



// ====================================
// Special Font
// ====================================

@kiosk-basic-font-size: 14px;

.text-lg {
  font-size: floor(@kiosk-basic-font-size * 3.214) !important;
}