//======== Main =========
.row-question {
}
.row-answer {
	
	.signature-area {		
		position: relative;
		z-index: @zindex-popover;
		border: 8px dashed @progress-nav-color;
		background-color: #ececec;
		height: 98%;		
		width: 100%;
		overflow: hidden;		
	}	
	.signature-area-writable{
		position: relative;		
		z-index: @zindex-modal-background;
		height: 100%;
		width: 100%;		
		.user-select(none);
	}
}


//======== Guide Animation =========

// LESS Loop
// every stroke delay
.loop(@counter) when (@counter > 0) {
  .loop((@counter - 1));    // next iteration
  #svg-signature .path:nth-child(@{counter}) {
  	.animation-delay(250 * @counter);
  }  
}

// svg (suziki)
#svg-signature {	
	position: absolute;
 	z-index: @zindex-tooltip;
 	top: 0; 	
 	left: 5%;
 	width: 90%; 	
 	height: 100%;
}

// how long of one stroke
@stroke-long: 300;
.path {
	stroke: @brand-primary;
	stroke-dasharray: @stroke-long;
	stroke-dashoffset: @stroke-long;
	stroke-width: 7px;
	.animation( dash 0.5s linear alternate forwards);
}

// suzuki is 7 stroke
.loop(7);

// after dash animation fade out svg-signature
#svg-signature {	
	.animation( fadeout 1s linear normal forwards);
	.animation-delay(3500); // 300 * 10 wait 500
}

// stoke animation
.keyframes(~'dash,	0% { stroke-dashoffset: @{stroke-long}; } 100% {  stroke-dashoffset: 0; }');

// fade out
.keyframes(~'fadeout,  0% {  display: block; -webkit-opacity: 1; -moz-opacity: 1; opacity: 1; } 50% {  -webkit-opacity: 0; -moz-opacity: 0; opacity: 0; height: 100%; } 100% { -webkit-opacity: 0; -moz-opacity: 0; opacity: 0; height: 0; }');



// Useless
.stylie {
  -webkit-animation-name: stylie-keyframes;
  -webkit-animation-duration: 2700ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 0;
}
@-webkit-keyframes stylie-keyframes {
  0% {-webkit-transform:translate(0px, 0px) rotateX(0deg) rotateY(-1deg) rotateZ(0deg) translate(-50%, -50%);}
  25% {-webkit-transform:translate(78.5px, 42.5px) rotateX(0deg) rotateY(-0.5deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {-webkit-transform:translate(157px, 85px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  75% {-webkit-transform:translate(308px, -85px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  95% { opacity: 1; -webkit-transform:translate(379px, 96px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  99% { top: 45%; left: 25%; height: auto; opacity: 0;-webkit-transform:translate(379px, 96px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% { top:-1000px; left:-1000px; height:0; opacity: 0;-webkit-transform:translate(379px, 96px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}