// ====================================
// Kiosk
// ====================================

//======== Preset ========
html, body {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
   background: #cdcfca; 
  background: linear-gradient(#fafafa, #cdcfca);
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
} 
ul {
    list-style: none;  
}
ol {
    padding-left: 0;
}

//======== Utility =========
.height-100 {
    height: 100%;
}
.row-reset {
    margin: 0;
    padding: 0;
}


//======== Main =========

// 一個固定在畫面的 container 
.container-fixed {
    display: block;    
    position: fixed;            
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;    
}
.container-table {
    display: block;    
}
.col-left {
    // display: block;
    display: none;
    position: relative;
    z-index: 1;    
    float: left;
    margin-right: -100%;
    width: 360px;
    height: 100%;

    .cards {
        display: block;        
        height: 100%;
        padding-top: 15px;
        overflow-x: hidden;    
        overflow-y: auto;

        .card {
            margin: auto;
            margin-bottom: 13px;            
        }
    }
}
.col-right {
    display: block;   
    float: left;    
    height: 100%;
    width: 100%;
    overflow: hidden;      
}

// 寬螢幕時顯示左方簽名列表
@media (min-width: 1500px ) {    
    .col-left {
      display: block;      
    }
    .col-right {
        padding-left: 360px;
    }
}

// #預定刪除 kiosk navbar 已不使用
.navbar-custom {
    position: relative;    
    background-color: @brand-bar-color;
    border: darken(@brand-bar-color, 20%);

    a {
        color: white !important;
    }
    .navbar-brand {
        font-size: 25px;
        line-height: 40px;
    }
    // left 3 line
    &:before {
        position: absolute;
        top: 10px;
        content: '';
        height: 3px;
        width: 5px;
        background-color: white;
        .box-shadow(~"0 8px white, 0 16px white");
    }
}



// ====================================
// Button
// ====================================
.btn-forward, .btn-question {  
    padding: 0.3em .5em;
    font-size: 2em;

    .glyphicon {
        font-size: 0.8em;
    }
}

// ====================================
// Vertical navigation list
// ====================================
.progress-nav {
    .row-reset;
    .height-100;  
}
