//======== Main =========

// Fix bootstrap btn content too long to cause grid system collape.
.nowrap-fix {
	position: relative;	
	height: 6em;
	margin-bottom: 2%;

	.btn-block {		
		position: absolute;    
		width: 96%;
        left: 50%;
        top: 0;
        margin-left: -48%;   	
	}
}

.btn-question {
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
    font-size: 3.0em;
    font-weight: bold;
}
.pagination li {
	display: inline-block;
	text-align: center;
	
	a {	
		border-radius: 20px !important;	
	}
}