@import '../bower_components/lesshat/build/lesshat.less';
@import '../bower_components/bootstrap/less/variables.less';
@import 'style.less';
 @app-width: 220px;
 @app-height: 220px;

.button-style-clean {
	border: none;
	.border-top-right-radius(0px);
	.border-top-left-radius(0px);
	.border-bottom-right-radius(0px);
	.border-bottom-left-radius(0px);
}
.application {
    width: @app-width; 
    margin: 0 auto;
    padding: 0 0 45px 0;

    .btn-app {
    	display: inline-block;    	
    	position: relative;
    	top: 0;
    	margin-bottom: 10px;
    	background-color: @gray-light;
		text-align: center;
		.box-shadow(~"0 10px #555");
    	.size(@app-width, @app-height);
        float: left;
		// ====================================
        .transition(0.5s ease-out); //var
		.transition-property(box-shadow, top, position);
        &:active {
			top: 10px; // var
			.box-shadow(~"0 0px #555"); //var
			.transition(0.1s); //var
        }
		// ====================================
		.app-icon {
			color: white;
			font-size: 5em;
			line-height: @app-height;
			vertical-align: middle;			
		}
    }
    .app-info {
        width: @app-width - 40px;
        overflow: hidden;
		text-overflow: ellipsis;
        .button-style-clean;
    }
    .btn-cog {
    	top: -5px;
        width: 40px;
		.box-shadow(~"0 5px #555");
		// ====================================
		.transition(0.1s ease-out);
		.transition-property(box-shadow, top, position);
        .button-style-clean;
        &:active {
			top: 0px;
			.box-shadow(~"0 0px #555");
			.transition(0s);
        }
        // ====================================

    }
}
