// ====================================
// Card of Signature
// ====================================

.card-default {
	@card-width-default: 330px;
	@card-height-default: 90px;
	@card-margin-bottom: 16px;
	@card-color: white;
	.size( @card-width-default, @card-height-default);
}
.card {	
	.card-default;
    .border-radius(10px);     
    display: table;      
    margin-bottom: @card-margin-bottom;       
    white-space: nowrap;

    background: @card-color;
    overflow: hidden;

	.serial,
	.signature, 
	.esquire {
		display: table-cell;
	    vertical-align: middle;     
	    text-align: center; 
	    margin: 0;
	    padding: 0;
	}
	.serial {
	    // font-size: 3em; into media
	    width: 90px; // default : square serial box
	    font-weight: bold;	    
	    font-size: 3em;
	}
	.signature {
	    height: 100%;
	    width: auto;
	    
	    .img-signature {           
	        height: 100%;
	        width: 100%;
	        background-image: url(../img/sign-template.png);
	        background-repeat: no-repeat;
	        background-size: contain;
	        background-position: center;
	    }
	}
	.esquire {
	    // font-size: 2em; into media
	    vertical-align: bottom;
	    padding-bottom: 5px;
	    width: 1.4em;
	    font-size: 1.3em;
	}
}

// identity signature
.signature-default(@width: 520px; @height: 190px) {
	width: @width;
	height: @height;
}

.signature {    
	.signature-default; 
	position: relative;
    display: inline-block;            
    text-align: center;

	.img-signature { 
		display: block;	                                      
        height: 100%;
        width: 100%;
        background-image: url(../img/sign-template.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
	// signature with :after esquire
	&.signature-esq {
		&:after {

			content: "様";
			position: absolute;
			right: 0; bottom: 0;
			padding: 0px 5px;

			font-size: 2.5em;
			text-align: center;     
			font-weight: bold;                      
        }
	}
}
