// Vender =====================================
@import '../css/vender/lesshat.less';
@import '../css/vender/variables.less';


// Preset =====================================
@import '../css/app-questions.less';
@import '../css/app-homepage.less';
@import '../css/app-signpage.less';


// Temple =====================================
.btn-cancel {
    position: absolute;
    right: 0;
    bottom: 0;
}
.heading-reset {  
    margin: 0;  
    padding: 10px 0 6px 0;
}