@import '../css/font-awesome.min.css';
@import '../css/FlipSwitch.css';
@import '../svg/flaticon/flaticon.css';
@import url(https://fonts.googleapis.com/css?family=Give+You+Glory);
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 0 0 0 3px;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}
body::-webkit-scrollbar-track-piece:horizontal {
  border-width: 3px 0 0;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
body::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 5px;
}
body::-webkit-scrollbar-thumb:horizontal {
  border-width: 5px 1px 1px;
}
body::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
}
ul {
  padding: 0;
}
li[class^="col"] {
  list-style: none;
  margin-bottom: 15px;
}
h3 {
  margin: 0;
  padding: 6px 0;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.col-center {
  text-align: center;
}
.navbar.navbar-sm {
  height: 40px;
  min-height: 40px;
  padding: 0;
}
.navbar.navbar-sm .navbar-brand {
  line-height: 20px;
  height: 40px;
  padding: 10px 15px;
}
.btn-question {
  color: #428bca;
  background-color: #ffffff;
  border-color: #428bca;
  -webkit-border-radius: 33px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 33px;
  -moz-background-clip: padding;
  border-radius: 33px;
  background-clip: padding-box;
  padding: 2px 1px 0px;
}
.btn-question:hover,
.btn-question:focus,
.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
  color: #428bca;
  background-color: #ebebeb;
  border-color: #2d6ca2;
}
.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
  background-image: none;
}
.btn-question.disabled,
.btn-question[disabled],
fieldset[disabled] .btn-question,
.btn-question.disabled:hover,
.btn-question[disabled]:hover,
fieldset[disabled] .btn-question:hover,
.btn-question.disabled:focus,
.btn-question[disabled]:focus,
fieldset[disabled] .btn-question:focus,
.btn-question.disabled:active,
.btn-question[disabled]:active,
fieldset[disabled] .btn-question:active,
.btn-question.disabled.active,
.btn-question[disabled].active,
fieldset[disabled] .btn-question.active {
  background-color: #ffffff;
  border-color: #428bca;
}
.btn-question .badge {
  color: #ffffff;
  background-color: #428bca;
}
.btn-question .fa {
  margin-right: 2px;
  font-size: 23px;
  line-height: 23px;
}
.input-xlg {
  height: auto;
  font-size: 75px;
}
.nav-tabs > li > a {
  margin-top: 5px;
  padding-top: 5px;
  background-color: #e7e7e7;
  border: 1px solid #eeeeee;
  border-width: 1px 1px 0;
}
.nav-tabs > li > a:focus {
  outline: none;
}
.nav-tabs li.active > a {
  margin-top: 0px;
  padding-top: 10px;
}
.nav-tabs li {
  vertical-align: bottom;
}
.tab-content {
  margin-bottom: 20px;
}
.tab-content .tab-pane {
  position: relative;
  background-color: white;
  border: 1px solid #ddd;
  border-width: 0 1px 1px 1px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomleft: 4px;
  -moz-background-clip: padding;
  border-bottom-left-radius: 4px;
  background-clip: padding-box;
}
.label {
  margin-right: 0.5em;
}
.blockquote-primary {
  border-color: #428bca;
  background-color: #F4F4F4;
}
.fa {
  width: 1em;
  font-size: 1.18em;
}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0.3);
}
.button-style-clean {
  border: none;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomleft: 0px;
  -moz-background-clip: padding;
  border-bottom-left-radius: 0px;
  background-clip: padding-box;
  margin-left: 0px !important;
}
.centered-in-unknow {
  height: 100%;
  text-align: center;
  white-space: nowrap;
}
.centered-in-unknow:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 100%;
}
.centered-in-unknow .centered {
  display: inline-block;
  vertical-align: middle;
}
.card {
  font-size: 16px;
  width: 330px;
  height: 90px;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  display: table;
  margin: 0 auto;
  margin-bottom: 16px;
  white-space: nowrap;
  background: #ffffff;
  border: 1px solid #ccc;
  overflow: hidden;
}
.card .serial,
.card .signature,
.card .esquire {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
}
.card .serial {
  width: 90px;
  font-weight: bold;
  font-size: 3em;
}
.card .signature {
  height: 100%;
  width: auto;
}
.card .signature .img-signature {
  height: 100%;
  width: 100%;
  background-image: url(../img/sign-template.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card .esquire {
  vertical-align: bottom;
  padding-bottom: 5px;
  width: 1.4em;
  font-size: 1.3em;
}
.card-primary .serial {
  background-color: #428bca;
  color: #fff;
}
.card-default {
  font-size: 16px;
  width: 330px;
  height: 90px;
}
.card-lg {
  font-size: 28.8px;
  width: 495px;
  height: 135px;
}
.card-lg .serial {
  width: 135px;
}
.signature {
  width: 520px;
  height: 190px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.signature .img-signature {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(../img/sign-template.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.signature.signature-esq:after {
  content: "様";
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0px 5px;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}
/* if an icon anchor has a span, hide the span */
.fa span {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}
#gn-menu > li > a > .fa {
  width: 1.5em;
}
ul.gn-menu .fa {
  display: inline-block;
  width: 45px;
  text-align: center;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}
.gn-trigger-btn .fa-bars {
  margin-left: -15px;
  vertical-align: -12px;
  font-size: 30px;
}
.glyph-icon:before,
.glyph-icon:after {
  margin-left: 15px;
  margin-right: 15px;
}
.gn-menu-main {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #5f6f81;
  list-style: none;
  text-transform: none;
  line-height: 45px;
}
.gn-menu-main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  height: 45px;
  font-size: 13px;
  /* icon-only trigger (menu item) */
}
.gn-menu-main a {
  display: block;
  height: 100%;
  color: #5f6f81;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: background 0.2s, height 0.2s;
  -o-transition: background 0.2s, height 0.2s;
  -webkit-transition: background 0.2s, height 0.2s;
  transition: background 0.2s, height 0.2s;
}
.gn-menu-main a.active {
  background: #5f6f81;
  color: white;
  cursor: default;
}
.gn-menu-main a:active {
  background: #8695a6 !important;
  -moz-transition: background 0s;
  -o-transition: background 0s;
  -webkit-transition: background 0s;
  transition: background 0s;
}
.gn-menu-main a.disabled,
.gn-menu-main a.disabled:hover {
  background: #f2f2f2 !important;
  color: #cccccc !important;
  cursor: default;
}
.gn-menu-main > li {
  display: block;
  float: left;
  height: 100%;
  border-right: 1px solid #c6d0da;
  text-align: center;
}
.gn-menu-main > li:last-child {
  float: right;
  border-right: none;
  border-left: 1px solid #c6d0da;
}
.gn-menu-main li.gn-trigger {
  position: relative;
  width: 45px;
  background: #3b3b3b;
  border: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gn-menu-main li.gn-trigger a {
  color: #aaaaaa;
}
.gn-menu-main li.gn-trigger a.active {
  background: #151515;
  color: white;
  cursor: default;
}
.gn-menu-main li.gn-trigger a:active {
  background: #8695a6 !important;
  -moz-transition: background 0s;
  -o-transition: background 0s;
  -webkit-transition: background 0s;
  transition: background 0s;
}
.gn-menu-main li.gn-trigger a.disabled,
.gn-menu-main li.gn-trigger a.disabled:hover {
  background: #3b3b3b !important;
  color: #4E4E4E !important;
  cursor: default;
  text-shadow: 0 -1px #161616, 0 1px #7e7e7e;
}
.gn-menu-main > .line-block {
  position: relative;
  text-align: center;
  background-color: #f2f2f2;
  width: 11.25px;
  padding: 0;
}
.gn-menu-main > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.gn-menu-main:after {
  display: table;
  clear: both;
  content: "";
}
.no-touch .gn-menu-main a:hover {
  background: #5f6f81;
  color: white;
}
.gn-menu-wrapper {
  position: fixed;
  top: inherit;
  height: 100%;
  left: 0;
  z-index: 1030;
  overflow: hidden;
  width: 45px;
  border-top: 1px solid #c6d0da;
  background: #2e2e2e;
  -webkit-transform: translateX(-45px);
  -moz-transform: translateX(-45px);
  -o-transform: translateX(-45px);
  -ms-transform: translateX(-45px);
  transform: translateX(-45px);
  -webkit-transition: -webkit-transform 0.3s ease-out, width 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out, width 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out, width 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out,-moz-transform 0.3s ease-out,-o-transform 0.3s ease-out,transform 0.3s ease-out, width 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out, width 0.3s ease-out;
  transition: transform 0.3s ease-out, width 0.3s ease-out;
  /* styles for opening menu */
}
.gn-menu-wrapper .line-block {
  height: 0;
  text-align: center;
  background-color: #555555;
  -moz-transition: height 0.1s ease-out 0.3s;
  -o-transition: height 0.1s ease-out 0.3s;
  -webkit-transition: height 0.1s ease-out 0.3s;
  transition: height 0.1s ease-out 0.3s;
}
.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.gn-menu-wrapper.gn-open-all {
  width: 340px;
}
.gn-menu-wrapper.gn-open-all .line-block {
  height: 15px;
}
.gn-menu-wrapper.gn-open-all .disabled {
  height: 45px;
}
.gn-menu-wrapper.gn-open-all .gn-submenu li {
  height: 45px;
}
.gn-scroller {
  position: absolute;
  overflow-y: scroll;
  width: 370px;
  height: 100%;
}
.gn-menu {
  border-bottom: 1px solid #555555;
  text-align: left;
  font-size: 18px;
  background: #3b3b3b;
}
.gn-menu li:not(:first-child),
.gn-menu li li {
  box-shadow: inset 0 1px #555555;
}
.gn-submenu li {
  position: relative;
  margin-left: 45px;
  overflow: hidden;
  height: 0;
  -moz-transition: height 0.1s ease-out 0.3s;
  -o-transition: height 0.1s ease-out 0.3s;
  -webkit-transition: height 0.1s ease-out 0.3s;
  transition: height 0.1s ease-out 0.3s;
}
.gn-submenu .active {
  -moz-box-shadow: inset 5px 0 #7b7b7b;
  -webkit-box-shadow: inset 5px 0 #7b7b7b;
  box-shadow: inset 5px 0 #7b7b7b;
}
@media screen and (max-width: 422px) {
  .gn-menu-wrapper.gn-open-all {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    width: 100%;
  }
  .gn-menu-wrapper.gn-open-all .gn-scroller {
    width: 130%;
  }
}
.btn-builder {
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.application {
  position: relative;
  width: 220px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px 0 70px 0;
}
.application.disabled .btn-app:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.application .btn-app {
  display: inline-block;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-property: -webkit-box-shadow, top, position;
  -moz-transition-property: -moz-box-shadow, top, position;
  -o-transition-property: box-shadow, top, position;
  transition-property: box-shadow, top, position;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-box-shadow: 0 10px #1b4667;
  -webkit-box-shadow: 0 10px #1b4667;
  box-shadow: 0 10px #1b4667;
  background-color: #436f7c;
  position: relative;
  top: 0;
  width: 220px;
  height: 220px;
}
.application .btn-app:hover {
  top: 2px;
  -moz-box-shadow: 0 8px #1b4667;
  -webkit-box-shadow: 0 8px #1b4667;
  box-shadow: 0 8px #1b4667;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.application .btn-app:active {
  top: 10px;
  -moz-box-shadow: 0 0 #1b4667;
  -webkit-box-shadow: 0 0 #1b4667;
  box-shadow: 0 0 #1b4667;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.application .btn-app.disabled {
  cursor: not-allowed;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 10px !important;
}
.application .btn-app .app-icon {
  color: white;
  line-height: 220px;
  vertical-align: middle;
}
.application .btn-app .app-icon:before {
  font-size: 5em;
  margin: 0;
}
.application .btn-app .app-title {
  margin-top: -60px;
}
.application .app-switch {
  position: absolute;
  right: 0px;
  top: -33px;
}
.application .app-control-group {
  position: relative;
  display: table;
  width: 100%;
}
.application .app-control-group > a {
  display: table-cell;
}
.application .app-control-group .btn-cog {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.application .app-info {
  margin-bottom: -30px;
  padding: 5px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  background-color: #eee;
}
.panel.panel-app-info {
  background: rgba(233, 233, 233, 0.4);
  margin-bottom: 28px;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.panel.panel-app-info .panel-body ul {
  margin-bottom: 0;
}
.panel-app-info {
  margin: auto -15px;
  margin-top: 20px;
}
.brick {
  margin: auto -8px;
  margin-bottom: 10px;
  padding: 3px 5px;
  background-color: #fcfcfc;
}
.brick:before,
.brick:after {
  content: " ";
  display: table;
}
.brick:after {
  clear: both;
}
.brick:before,
.brick:after {
  content: " ";
  display: table;
}
.brick:after {
  clear: both;
}
.brick ul {
  margin-left: 20px;
}
.brick.text-center {
  text-align: center;
}
.brick .title:before,
.brick .title:after {
  content: ' - ';
}
.brick-success {
  background-color: #5cb85c;
  color: white;
}
.brick-danger {
  background-color: #d9534f;
  color: white;
}
.brick-info {
  background-color: #5bc0de;
  color: white;
}
.brick-primary {
  background-color: #428bca;
  color: white;
}
.brick-warning {
  background-color: #f0ad4e;
  color: white;
}
.brick-strong {
  border-left: 5px solid #428bca;
  padding-left: 8px;
}
.bricks {
  margin: auto -8px;
  margin-bottom: 10px;
}
.bricks:before,
.bricks:after {
  content: " ";
  display: table;
}
.bricks:after {
  clear: both;
}
.bricks:before,
.bricks:after {
  content: " ";
  display: table;
}
.bricks:after {
  clear: both;
}
.bricks .brick {
  margin: 0;
  margin-bottom: 0;
}
.row.row-block {
  margin-top: 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
}
.brick .progress {
  margin-bottom: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.brick .progress .progress-bar {
  white-space: nowrap;
}
.brick .progress-sm {
  margin-top: 4px;
  height: 14px;
}
.brick .progress-sm .progress-bar {
  line-height: 14px;
}
@media (max-width: 768px) {
  .panel-app-info {
    margin: auto;
    margin-top: 0;
  }
  .brick,
  .bricks {
    margin-bottom: 5px;
  }
}
.panel-error {
  font-family: 'Give You Glory', cursive;
}
.panel-error .error-img {
  margin-bottom: 15px;
}
.panel-error .error-type {
  font-size: 4em;
  color: #1EB6FF;
  line-height: 0.5em;
}
.panel-error .error-msg {
  color: #777;
}
.wrapper {
  position: relative;
}
.focus {
  border: 1px solid rgba(66, 139, 202, 0.8);
  -moz-box-shadow: 0 0 8px rgba(66, 139, 202, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(66, 139, 202, 0.5);
  box-shadow: 0 0 8px rgba(66, 139, 202, 0.5);
}
.persudo-navs {
  position: absolute;
  right: -28px;
}
.persudo-navs .persudo-nav {
  width: 120px;
  height: 60px;
  -moz-box-shadow: inset 10px 0px #ddd;
  -webkit-box-shadow: inset 10px 0px #ddd;
  box-shadow: inset 10px 0px #ddd;
  position: relative;
  outline: 1px solid #eee;
  background-color: #eeeeee;
  text-align: center;
  color: #ccc;
}
.persudo-navs .persudo-nav.active {
  -moz-box-shadow: inset -10px 0 #428bca;
  -webkit-box-shadow: inset -10px 0 #428bca;
  box-shadow: inset -10px 0 #428bca;
  outline: none;
  border: 1px solid #eee;
  border-width: 1px 0 0 0 ;
  background-color: white;
  color: black;
}
.persudo-navs .persudo-nav span {
  display: block;
  margin: 0 auto;
}
.persudo-counter {
  font-size: 4.5em;
}
#signature .persudo-signarea {
  height: 350px;
  border: 8px dashed #428bca;
  background-color: #eee;
  margin-bottom: 10px;
}
#complete .persudo-serial {
  font-size: 8em;
  line-height: 112px;
  color: #428bca;
  vertical-align: -35px;
}
.thumbnail-kiosk-logo {
  margin: auto -30px;
}
.thumbnail-kiosk-logo .kiosk-logo {
  height: 235px;
  width: auto;
}
.color-reverse-black {
  background-color: rgba(0, 0, 0, 0.4);
}
.color-reverse-black input,
.color-reverse-black textarea {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  -moz-box-shadow: 0 0 5px white;
  -webkit-box-shadow: 0 0 5px white;
  box-shadow: 0 0 5px white;
}
.tab-content blockquote {
  margin-bottom: 0px;
  margin-top: 10px;
}
.smartphone {
  width: 350px;
  height: 650px;
  position: relative;
  margin: 0px auto;
  background: #fff;
  border: solid #428bca;
  border-width: 25px 4px 65px;
  border-radius: 10px;
}
.smartphone [class^="col-"] {
  padding: 0;
}
.smartphone:before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: 50%;
  margin-left: -18px;
  background: #ccc;
  height: 3px;
  width: 36px;
  border-radius: 4px;
}
.smartphone:after {
  display: block;
  position: absolute;
  bottom: -55px;
  left: 50%;
  width: 45px;
  height: 45px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iNDMlIiBzdG9wLWNvbG9yPSIjMzU3ZWJkIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzZhYTNkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #357ebd 43%, #6aa3d5 95%);
  background-image: -moz-linear-gradient(top, #357ebd 43%, #6aa3d5 95%);
  background-image: -o-linear-gradient(top, #357ebd 43%, #6aa3d5 95%);
  background-image: linear-gradient(to bottom, #357ebd 43%, #6aa3d5 95%);
  padding-left: 14px;
  margin-left: -22.5px;
  border: 1px solid #357ebd;
  border-radius: 50%;
  content: "\e157";
  font-family: 'Glyphicons Halflings';
  line-height: 45px;
  color: #999;
  font-size: 18px;
}
.smartphone .navbar {
  margin-top: -10px;
  margin-bottom: 10px;
}
.smartphone .phone-navbar {
  background-color: #444;
  color: white;
  padding: 0 10px;
  margin: 0 -5px;
}
.smartphone .row {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 5px;
}
.smartphone h2 {
  color: #428bca;
}
.smartphone .graphic-counter {
  color: #428bca;
}
.smartphone .graphic-counter [class^="flaticon-"]:before {
  font-size: 3.28571429em;
  margin: 0;
}
.smartphone .graphic-counter [class$="-serial"]:before {
  position: absolute;
  top: -28px;
  content: 'No.';
  font-size: 0.5em;
}
.smartphone .graphic-counter .people-servicing,
.smartphone .graphic-counter .people-checker {
  position: relative;
  display: block;
  text-align: center;
}
.smartphone .graphic-counter .people-servicing-serial,
.smartphone .graphic-counter .people-checker-serial {
  width: 60px;
  height: 45px;
  position: relative;
  font-size: 2em;
  line-height: 58px;
  top: -8px;
}
.smartphone .graphic-counter .people-checker:after {
  content: 'あなた';
  position: absolute;
  top: -3px;
  margin: 0 0;
  display: block;
  width: 100%;
  font-size: 10px;
  font-family: 'メイリオ', sans-serif;
  text-align: center;
}
.smartphone .graphic-counter .people-line {
  position: relative;
  display: table;
  margin-left: -20px;
  width: 100%;
  white-space: nowrap;
}
.smartphone .graphic-counter .people-line:before {
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
  height: 80px;
  width: 90px;
}
.smartphone .graphic-counter .people-line:after {
  content: '...';
  position: absolute;
  left: 100%;
  top: 5px;
  font-weight: bold;
  font-size: 35px;
}
.smartphone .graphic-counter .people-line .people-waiting {
  display: table-cell;
  text-align: center;
}
.smartphone .graphic-counter .people-line .people-waiting:before {
  margin: 0 -20px;
}
.smartphone .graphic-counter .wrapper {
  text-align: center;
}
body {
  position: relative;
  padding-top: 85px;
  padding-bottom: 120px;
  background-color: #F3F3F3;
  background-image: url(../img/c12.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
.container {
  padding-left: 60px;
}
