// Vender =====================================
@import '../css/vender/lesshat.less';
@import '../css/vender/variables.less';

// Preset =====================================
@import '../css/style.less';
@import '../css/grid-horizontal.less';
@import '../css/app-customer-media.less';
@import '../css/app-images.less';
@import '../css/app-customer.less';
@import '../css/app-questions.less';
@import '../css/app-homepage.less';
@import '../css/app-signpage.less';
@import '../css/app-complete.less';


// ====================================
// Color Custom
// ====================================
@progress-nav-color: #E8CA3E;		// 右邊導覽列	
@pagination-color: #4480E1; 		// 下方煥業按鈕
@brand-bar-color: @brand-primary;	// 上方navbar案
@btn-question-color: #EFE183;		// 問題答案按鈕


// ====================================
// Fonts
// ====================================
body {
	font-family: "Arial Black", Roboto, DroidSans, 'メイリオ', Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	 -webkit-font-smoothing: antialiased; // OSX only
}


// ====================================
// Others
// ====================================
.btn-custom {
	position: relative;	
	border: 1px solid #aaa;
	color: black;

	&:focus {
	    text-decoration: none;
	    outline: none;
	}
	&:active {
	    text-decoration: none;
	    outline: none;
	    color: @btn-question-color;
	    background: lighten(@btn-question-color,20%);
		text-shadow: 0 2px rgba(0,0,0,1), 0 0 2px rgba(0,0,0,0.8);
	}
	&:hover {
		color: #fff;
	}
	& {
		display: inline-block;  
		position: relative;

		color: #fff;
		text-align: center;	  
		text-shadow: 0 1px rgba(0,0,0,0.8), 0 0 2px rgba(0,0,0,0.6);

		background-color: @btn-question-color;
		.background-image(linear-gradient(linear, left top, left bottom, from(@btn-question-color), to(darken(@btn-question-color,15%))));

		@shadow-darken: fade(darken(@btn-question-color,35%), 50%);
		.box-shadow(~"0px 3px 5px @{shadow-darken} , inset 0px 2px 3px #fff");
	}
}

.btn-next {
	&:active {
	    color: @pagination-color;
	    background: lighten(@pagination-color,20%);
	}	
	& {
		background: @pagination-color;
		.background-image(linear-gradient(linear, left top, left bottom, from(@pagination-color), to(darken(@pagination-color,15%))));

		@shadow-darken: fade(darken(@pagination-color,35%), 50%);
		.box-shadow(~"0px 3px 5px @{shadow-darken} , inset 0px 2px 3px #fff");
	}
}
.btn-cancel {
    position: absolute;
    z-index: 0;
    right: 5px; bottom: 5px;
    left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5px;
    .border-radius(0);		
    .background-image(linear-gradient(linear, left top, left bottom, from(white), to(darken(white,10%))));
}

// Temple =====================================

.heading-reset {  
    margin: 0;  
    padding: 10px 0 6px 0;
}
.vertical-middle {
	display: table;
	height: 100%;
	
	& >:first-child {
		display: table-cell;
		vertical-align: middle;
		text-align: center;		
	}
}
.disable-btn-hover {
	.btn.btn-default:hover {
		background-color: @btn-default-bg;
		border-color: @btn-default-border;
	}
	.btn.btn-primary:hover {
		background-color: @btn-primary-bg;
		border-color: @btn-primary-border;
	}
	.btn.btn-success:hover {
		background-color: @btn-success-bg;
		border-color: @btn-success-border;
	}
	.btn.btn-info:hover {
		background-color: @btn-info-bg;
		border-color: @btn-info-border;
	}
	.btn.btn-warning:hover {
		background-color: @btn-warning-bg;
		border-color: @btn-warning-border;
	}
	.btn.btn-danger:hover {
		background-color: @btn-danger-bg;
		border-color: @btn-danger-border;
	}
}


// ====================================
// Bootstrap Mixin Copy
// ====================================

.button-variant(@color; @background; @border) {
	color: @color;
	background-color: @background;
	border-color: @border;

	&:hover,
	&:focus,
	&:active,
	&.active {
	color: @color;
	background-color: darken(@background, 8%);
	    border-color: darken(@border, 12%);
	}
	&:active,
	&.active {
	background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&:active,
		&.active {
		  background-color: @background;
		      border-color: @border;
		}
	}
}
