// ====================================
// Preset
// ====================================
.wrapper {
	position: relative;	
}
.focus {
	@fade-color: fade( @brand-primary, 50%);
	border: 1px solid fade( @brand-primary, 80%);
	.box-shadow(~"0 0 8px @{fade-color}");
}
.persudo-navs {
	position: absolute;
	right: -28px;
	.persudo-nav {		
		.size(120px, 60px);
		.box-shadow(~"inset 10px 0px #ddd");
		position: relative;		
		outline: 1px solid #eee;
		background-color: @gray-lighter;
		text-align: center;
		color: #ccc;

		&.active {			
			.box-shadow(~"inset -10px 0 @{brand-primary}");
			outline: none;
			border: 1px solid #eee;
			border-width: 1px 0 0 0 ;
			background-color: white;	
			color: black;	
		}
		span {
			display: block;
			margin: 0 auto;	
		}
	}
}
.persudo-counter {
	font-size: 4.5em;	
}

#signature {

	.persudo-signarea {
		height: 350px;
		border: 8px dashed @brand-primary;
		background-color: #eee;
		margin-bottom: 10px;
	}
}
#complete {
	.persudo-serial {	
		font-size: 8em;		
		line-height: 14px * 8 ;
		color: @brand-primary;
		vertical-align: -35px;
	}
}
.thumbnail-kiosk-logo {	
	margin: auto -30px;
	.kiosk-logo {
		height: 235px;
		width: auto;
	}
}

// #kiosk-closed 
.color-reverse-black {
	background-color: rgba(0,0,0,0.4);

	input, textarea {
		background-color: rgba(0,0,0,0.3);
		color: white;
		.box-shadow(~"0 0 5px white");
	}
}



// ====================================
// Bootstrap extention
// ====================================
.tab-content {
	blockquote {
		margin-bottom: 0px;
		margin-top: 10px;
	}
}