// preset 
.row-table {
    .row-reset;
    .height-100;
}
.col-table {
    display: table;
    padding: 0;
    margin: 0;
    background-color: white;
    .height-100;
}
.col-table {
	& > .row {
		display: table-row;
		text-align: center;
	}
}

// row grid
.row-percent-loop(@counter) when ( @counter > 0) {
    .row-percent-loop((@counter - 1)); // next iteration
    .row-@{counter} {
        height: @counter * 10% !important;
    }
}
.row-percent-loop(10);

.row-em-loop(@counter) when ( @counter > 0) {
    .row-em-loop((@counter - 1)); // next iteration
    .row-@{counter}-em {
        height: @counter * 1em;
    }
}
.row-em-loop(10);