// ====================================
// rebuild with Fontawesome
// ====================================

/* if an icon anchor has a span, hide the span */
// why ? ? ? If icon-font not work let inside span words function.
.fa span {
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}

#gn-menu > li > a > .fa {	
	width: 1.5em;
}

ul.gn-menu .fa /*, .gn-icon::before*/ {
	display: inline-block;
	width: 45px;
	text-align: center;
	text-transform: none;
	// font-weight: normal;
	// font-style: normal;
	// font-variant: normal;
	// font-family: 'ecoicons';

	// ? ? ?
	line-height: 1;
	// Specifies whether content will render aurally
	speak: none;
	-webkit-font-smoothing: antialiased;
}

// spacial setting for menu icon
.gn-trigger-btn .fa-bars {
	margin-left: -15px;
	vertical-align: -12px;
	font-size: 30px;
}

// ====================================
// glyph-icon adjustment
// ====================================
.glyph-icon {
	&:before, 
	&:after {
		margin-left: 15px;
		margin-right: 15px;
	}
}