@import '../css/vender/lesshat.less';
@import '../css/vender/variables.less';
@import '../css/style.less';

//======== Utility =========


//======== Main =========
.row-answer {
	.signature-area {	
		position: relative;		
		border: 8px dashed @brand-primary;
		background-color: #ececec;
		height: 90%;		
		width: 100%;
		background-image: url(../img/sign-template.png);
		background-repeat: no-repeat;
		background-position: 40% 45%;
	}	
}
.animate {
	position: absolute;
	top: 45%;
	left: 25%;	
	z-index: 2000;	
	
	.glyph-icon {
		position: relative;
	}
	.glyph-icon:before {
		font-size: 10em;
	}
}


.stylie {
  -webkit-animation-name: stylie-keyframes;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 0;
}
@-webkit-keyframes stylie-keyframes {
  0% {-webkit-transform:translate(0px, 0px) rotateX(0deg) rotateY(-1deg) rotateZ(0deg) translate(-50%, -50%);}
  25% {-webkit-transform:translate(78.5px, 42.5px) rotateX(0deg) rotateY(-0.5deg) rotateZ(0deg) translate(-50%, -50%);}
  50% {-webkit-transform:translate(157px, 85px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  75% {-webkit-transform:translate(308px, -85px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90% {opacity: 1;-webkit-transform:translate(379px, 96px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% { display:none; opacity: 0;-webkit-transform:translate(379px, 96px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}

