@foobar: orange;


// Utility
.border(@color:red) {
    border: 1px solid @color;
}


// ==== glyphicon adjust
.glyphicon {
	vertical-align: -3px;
	
}

// bootstrap extend
.container-full {
  margin: 0 auto;
  width: 100%;
}
.col-center {	
	text-align: center;	
}

li[class^="col"] {
	list-style: none;	
	margin-bottom: 15px;
}
h3 {
	margin: 0;
	padding: 6px 0;
}

// other
#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	margin-top: 40px;
	margin-bottom: 0;
	line-height: 50px;
	background-color: rgba(255,255,255,0.3);
}


