@foobar: orange;



body {
	background-color: #ddd;
}
.body-corrupt {
	display: inline-block;
}
.main-content {
	margin-top: 45px;
	padding-left: 50px;
}

.col-center {	
	text-align: center;	
}


 .border(@color:red) {
    border: 1px solid @color;
}