<div class="row col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form">
                <p style="text-align: center;">
                    <img src="img/logo.png" alt="" title="順番コンシェル">
                </p>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">Sign in</button>
                    </div>
                    <label><input type="checkbox">&nbspRemember me</label>
                </form>
            </form>
        </div>
    </div>
</div>
