<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <p style="text-align: center;">
                <img src="img/logo.png" alt="" title="順番コンシェル">
            </p>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-default">Sign in</button>
                    <label><input type="checkbox">Remember me</label>
                </div>
            </form>
        </div>
    </div>
</div>
