<div class="customer-screen-qr col-xs-12 col-table">
    <div class="row row-3">
        <div class="col-xs-12 col-center vertical-middle">
            <div>
                <h1 class="heading-reset text-success">- Your turn was successfully added -</h1>
                <h2 class="heading-reset text-muted">Please patiently until your number is called</h2>
            </div>
        </div>
    </div>
    <div class="row row-qr row-4">
        <div class="col-xs-12 col-center vertical-middle">
            <div>
                <h1 class="heading-reset">This is your Jyunban Checker</h1>
                <div class="centered-in-unknow">
                    <div class="centered">
                        <div class="card card-primary pull-left">
                            <span class="serial">99</span>
                            <span class="signature">
                                <div class="img-signature"></div>
                            </span>
                            <span class="esquire">様</span>
                        </div>
                    </div>
                    <span class="image image-qrcode"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-3">
        <div class="col-md-12 col-xs-12 vertical-middle">
            <div>
                <div class="col-xs-offset-3 col-xs-6"><a class="btn btn-custom btn-question btn-block">Complete!</a>
                </div>
            </div>
        </div>
    </div>
</div>
