<div class="container main-content app-content">

    <div class="row">
        <div class="col-md-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-app-info">
                        <div class="panel-body">
                            <div class="col-sm-3">用戶狀態：
                                <span class="label label-success">免費用戶</span>
                            </div>
                            <div class="col-sm-6">
                                免費用戶限制
                                <ul>
                                    <li>每日流量上限：
                                        <span>90人</span>&nbsp
                                        <span class="label label-default">今日&nbsp15&nbsp人</span>
                                    </li>
                                    <li>統計資料：
                                        <span>無法使用</span>
                                    </li>
                                    <li>大螢幕列表：
                                        <span>無法使用</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3"><a class="btn btn-primary">升級付費會員</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-center">
                    <div class="application">
                        <div class="app-switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner">
                                        <span class="onoffswitch-active">
                                            <span class="onoffswitch-switch">ON</span>
                                        </span>
                                        <span class="onoffswitch-inactive">
                                            <span class="onoffswitch-switch">OFF</span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <a class="btn-app">
                            <i class="glyph-icon flaticon-finger2 app-icon"></i>
                            <div class="app-title">Kiosk</div>
                        </a>
                        <div class="app-control-group">
                            <a class="btn btn-cog btn-default">
                                <i class="fa fa-key "></i>
                            </a>
                            <a class="btn btn-cog btn-default"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="app-info">目前有125名顧客正在等待中ㄛ喔喔喔</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-center">
                    <div class="application">
                        <a class="btn-app">
                            <i class="glyph-icon flaticon-checklist5 app-icon"></i>
                            <div class="app-title">Staff monitor</div>
                        </a>
                        <div class="app-control-group">
                            <a class="btn btn-cog btn-default"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="app-info">目前有125名顧客正在</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-center">
                    <div class="application">
                        <a class="btn-app">
                            <i class="glyph-icon flaticon-8 app-icon"></i>
                            <div class="app-title">List Checker</div>
                        </a>
                        <div class="app-control-group">
                            <a class="btn btn-cog btn-default">
                                <i class="fa fa-key "></i>
                            </a>
                            <a class="btn btn-cog btn-default"><i class="fa fa-cog"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-center">
                    <div class="application">
                        <a class="btn-app disabled">
                            <i class="glyph-icon flaticon-screen40 app-icon"></i>
                            <div class="app-title">Wall monitor</div>
                        </a>
                        <div class="app-control-group">
                            <a class="btn btn-cog btn-primary">Need Premium&nbsp<i class="fa fa-question-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
