<div class="customer-screen-home col-xs-12 col-table">
    <div class="row row-4">
        <span id="brand-logo" class="image image-jyunban-logo"></span>
    </div>
    <div class="row row-2">
        <div class="col-xs-12 col-center">
            <h1 class="text-no-margin">ただいま
                <span class="groups-counter">
                    <span class="groups-counter-number">21</span>
                </span>組様がお待ちです</h1>
            <h2 class="text-no-margin">下のボタンを押して順番に入ります</h2>
        </div>
    </div>
    <div class="row row-startbtn row-4">
        <div class="col-xs-12 col-center vertical-middle" style="padding-top:25px;">
                <div class="btn-start">
                    <div class="wrapper">
                        <a href="#" class="icon-home">スタート</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>