<div class="customer-screen-sign col-xs-12 col-table">
    <div class="row-question row row-1">
        <div class="col-xs-12 vertical-middle">
            <div class="wrapper">
                <h1 class="heading-reset">下に名前を書いてください</h1>
            </div>
        </div>
    </div>
    <div class="row-answer row row-8">
        <div class="col-xs-12 height-100">
            <div class="signature-area">
                <div class="signature-area-writable"></div>
                <!-- Add svg#svg-signature & path.path -->
                <!-- generate by jSignature -->
                <svg xmlns="http://www.w3.org/2000/svg" id="svg-signature" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="-25 0 450 130" preserveAspectRatio="xMidYMid meet" xml:space="preserve">
                    <path class="path" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M 18 31 c 0.4 -0.19 15.33 -7.88 23 -11 c 2.77 -1.13 6.16 -1.13 9 -2 c 1.38 -0.42 2.61 -1.68 4 -2 c 8.24 -1.92 17.39 -3.7 26 -5 c 2.28 -0.34 4.84 -0.41 7 0 c 2.93 0.55 6.47 1.73 9 3 c 1.13 0.57 2.52 1.91 3 3 c 0.69 1.56 0.82 3.99 1 6 c 0.15 1.65 0.47 3.58 0 5 c -1.05 3.16 -3.09 6.76 -5 10 c -2.47 4.17 -4.81 8.55 -8 12 c -8.6 9.32 -17.94 18.46 -28 27 c -19.14 16.25 -58 46 -58 46" />
                    <path class="path" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M 58 74 c 0.21 0.19 8.29 7.09 12 11 c 2.6 2.74 4.86 5.78 7 9 c 6 9 17 27 17 27" />
                    <path class="path" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M 158 19 c 0.58 -0.25 21.85 -9.79 33 -14 c 3.85 -1.45 7.93 -2.22 12 -3 c 2.98 -0.57 5.94 -0.88 9 -1 c 5.4 -0.22 10.77 -0.4 16 0 c 3.34 0.26 7.22 0.68 10 2 c 3.71 1.77 8.24 5.24 11 8 c 1.09 1.09 1.73 3.37 2 5 c 0.35 2.12 0.65 5.05 0 7 c -1.17 3.5 -3.64 7.6 -6 11 c -3.61 5.22 -7.7 10.14 -12 15 c -3.48 3.93 -7.14 7.57 -11 11 c -2.13 1.9 -4.79 3.11 -7 5 c -9.63 8.25 -18.1 16.78 -28 25 c -12.4 10.3 -37 29 -37 29" />
                    <path class="path" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M 211 66 l 32 44" />
                    <path class="path" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M 306 42 c 0.37 -0.04 14.36 -0.41 21 -2 c 9.65 -2.32 19.1 -7.11 29 -10 c 6.27 -1.83 19 -4 19 -4" />
                    <path class="path" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M 315 86 c 0.4 -0.09 15.77 -2.32 23 -5 c 16.79 -6.21 33.26 -15.6 50 -22 c 5.65 -2.16 18 -4 18 -4" />
                    <path class="path" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M 330 3 c 0.07 0.21 2.35 8.11 4 12 c 2.04 4.82 4.89 9.14 7 14 c 2.3 5.3 3.64 10.65 6 16 c 10.31 23.41 20.93 44.68 31 68 c 2.85 6.61 7 20 7 20" />
                </svg>
            </div>
        </div>
    </div>
    <div class="row-pagination row row-1">
        <div class="col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="btn-wrapper">
                    <a class="btn-kiosk btn-kiosk-default">&nbsp書き直す&nbsp</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="btn-wrapper btn-kiosk-flex">
                    <span class="btn-kiosk btn-kiosk-next">次へ</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
