<div class="container main-content app-content">

    <div class="row">
        <div class="col-md-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-app-info">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-12 col-md-6">
                                            <div class="brick text-center">
                                                <strong>APP狀態</strong>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6">
                                            <div class="brick brick-success text-center ">正常運作
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-12 col-md-6">
                                            <div class="brick text-center">
                                                <strong>統計狀態</strong>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6">
                                            <div class="brick brick-warning text-center ">出現錯誤
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-block"></div>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-12 col-md-6">
                                            <div class="brick text-center">
                                                <strong>用戶狀態</strong>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6">
                                            <div class="brick text-center ">免費用戶
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-block"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="brick text-center">
                                                <strong class="title">免費用戶限制</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-7 col-xs-6">
                                            <div class="brick brick-strong">
                                                <strong>日人數上限：</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-5 col-xs-6">
                                            <div class="brick">
                                                <!-- progress bar 是 float 物件 -->
                                                <!-- 要讓東西放在同一行也要有float屬性 所以加了pull-left -->
                                                <span class="pull-left">現在&nbsp</span>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                                        22人
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="brick brick-strong">
                                                <strong>每日上限：</strong>
                                                <span>90人</span>
                                                <br>
                                                <strong class="pull-left">現在：</strong>
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                        72人
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="brick brick-strong">
                                                <strong>統計資料：</strong>
                                                <span>無法使用</span>
                                            </div>
                                            <div class="brick brick-strong">
                                                <strong>大螢幕列表：</strong>
                                                <span>無法使用</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-block"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="brick brick-primary text-center">
                                                <a class="btn btn-primary btn-block">升級付費會員</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9 col-lg-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-center">
                            <div class="application">
                                <div class="app-switch">
                                    <div class="onoffswitch onoffswitch-lg">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                        <label class="onoffswitch-label" for="myonoffswitch">
                                            <span class="onoffswitch-inner">
                                                <span class="onoffswitch-active">
                                                    <span class="onoffswitch-switch">ON</span>
                                                </span>
                                                <span class="onoffswitch-inactive">
                                                    <span class="onoffswitch-switch">OFF</span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <a class="btn-app">
                                    <i class="glyph-icon flaticon-finger2 app-icon"></i>
                                    <div class="app-title">Kiosk</div>
                                </a>
                                <div class="app-control-group">
                                    <a class="btn btn-cog btn-default">
                                        <i class="fa fa-key "></i>
                                    </a>
                                    <a class="btn btn-cog btn-default"><i class="fa fa-cog"></i></a>
                                </div>
                                <div class="app-info">目前有125名顧客正在等待中ㄛ喔喔喔</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-center">
                            <div class="application">
                                <a class="btn-app">
                                    <i class="glyph-icon flaticon-checklist5 app-icon"></i>
                                    <div class="app-title">Staff monitor</div>
                                </a>
                                <div class="app-control-group">
                                    <a class="btn btn-cog btn-default"><i class="fa fa-cog"></i></a>
                                </div>
                                <div class="app-info">目前有125名顧客正在</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-center">
                            <div class="application">
                                <a class="btn-app">
                                    <i class="glyph-icon flaticon-8 app-icon"></i>
                                    <div class="app-title">List Checker</div>
                                </a>
                                <div class="app-control-group">
                                    <a class="btn btn-cog btn-default">
                                        <i class="fa fa-key "></i>
                                    </a>
                                    <a class="btn btn-cog btn-default"><i class="fa fa-cog"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-center">
                            <div class="application">
                                <a class="btn-app disabled">
                                    <i class="glyph-icon flaticon-screen40 app-icon"></i>
                                    <div class="app-title">Wall monitor</div>
                                </a>
                                <div class="app-control-group">
                                    <a class="btn btn-cog btn-primary">Need Premium&nbsp<i class="fa fa-question-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
