<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-center">
            <div class="panel panel-error">
                <div class="panel-body">
                    <img class="error-img" src="img/comic/error-consheru.png" alt="404 Error">
                    <h1 class="error-type">404 Error</h1><span class="error-msg">エラーが起きちゃいますよ、管理員をご連絡くださ。</span>
                </div>
            </div>
        </div>
    </div>
</div>

<link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>

<script type="text/javascript">
WebFontConfig = {
    google: {
        families: ['Give+You+Glory::latin']
    }
};
(function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
})();
</script>
