<div class="closed-message col-xs-12 col-table">
    <div class="row row-8">
        <div class="col-xs-12 col-center vertical-middle">
            <div>
                <h1 class="closed-heading">受付終了</h1>
                <h3 class="">本日の営業は終了いたしました。</h3>
            </div>
        </div>
    </div>
    <div class="row row-2">
        <div class="col-xs-12 col-center">
            <div>
                <h1>明日の営業時間は 10:00 ~ 16:00</h1>
            </div>
        </div>
    </div>

    <!-- 無料会員上限提示 -->
    <div class="row row-msg">
        <p class="msg-freelimit">
            <span class="glyphicon glyphicon-warning-sign"></span>今日、無料会員の登録上限を超えてしまいましたので （毎日90人）、
            <br>順番登録機能が一旦中止になります、次の日に回復します。
        </p>
        <style>
        </style>
    </div>
</div>
