<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">
                        <span class="label label-primary">1</span>順番チェッカー</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- pane start -->
                <div class="tab-pane active" id="home">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-12">
                                <blockquote class="blockquote-primary">順番チェッカーのセッティングフォーム関する説明です。<a class="btn btn-question"><i class="fa fa-question"></i></a>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <form role="form" class="panel-body">
                        <div class="smartphone">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="phone-navbar">
                                        <i class="glyphicon glyphicon-comment"></i>
                                        <div class="pull-right">
                                            <i class="glyphicon glyphicon-flash"></i>
                                            <i class="glyphicon glyphicon-signal"></i>
                                            <i class="glyphicon glyphicon-time"></i>
                                            <span>11:25</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar navbar-default navbar-sm">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand">順番チェッカー</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control focus" placeholder="デフォルトはお店の名前を表示します">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <textarea name="" class="form-control focus" id="" cols="53" rows="3" placeholder="お客さんに伝えたいメーセッジなどの内容をここに入れると順番チェッカーに表示します。"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card card-primary">
                                        <div class="serial">12</div>
                                        <div class="signature"><div class="img-signature"></div></div>
                                        <div class="esquire">様</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <br>
                                    <div class="text-center">
                                        <h2>先に待っている方</h2>
                                        <h2>あと
                                            <span class="count-people-before">13</span>
                                            <span class="count-unit">組</span>
                                        </h2>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="row graphic-counter">
                                <div class="col-xs-3">
                                    <div class="wrapper">
                                        <i class="flaticon-dancing1 people-servicing"></i>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="people-line">
                                        <span class="flaticon-frontal7 people-waiting"></span>
                                        <span class="flaticon-frontal7 people-waiting"></span>
                                        <span class="flaticon-frontal7 people-waiting"></span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="wrapper">
                                        <i class="flaticon-man41 people-checker"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-groups  pull-right">
                                    <div class="btn btn-default">Cancel</div>
                                    <div class="btn btn-success">Save Change</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pane end -->
                </div>
            </div>
        </div>
    </div>
</div>
