<div class="container main-content app-content">

    <div class="row">
        <div class="col-md-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-center">
                    <div class="application">
                        <div class="app-switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner">
                                        <span class="onoffswitch-active">
                                            <span class="onoffswitch-switch">ON</span>
                                        </span>
                                        <span class="onoffswitch-inactive">
                                            <span class="onoffswitch-switch">OFF</span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <a class="btn-app">
                            <i class="glyph-icon flaticon-finger2 app-icon"></i>
                            <div class="app-title">Kyosk</div>
                        </a>
                        <div class="app-control-group">
                            <a class="btn btn-cog btn-default">
                                <i class="fa fa-key "></i>
                            </a>
                            <a class="btn btn-cog btn-default"><i class="fa fa-cog"></i></a>
                        </div>                            
                        <div class="app-info">目前有125名顧客正在等待中ㄛ喔喔喔</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-center">
                    <div class="application">
                        <a class="btn-app">
                            <i class="glyph-icon flaticon-checklist5 app-icon"></i>
                            <div class="app-title">Staff monitor</div>
                        </a>
                        <div class="app-control-group">
                            <a class="btn btn-cog btn-default"><i class="fa fa-cog"></i></a>
                        </div>                            
                        <div class="app-info">目前有125名顧客正在</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-center">
                    <div class="application">
                        <a class="btn-app">
                            <i class="glyph-icon flaticon-8 app-icon"></i>
                            <div class="app-title">List Checker</div>
                        </a>
                        <div class="app-control-group">
                            <a class="btn btn-cog btn-default">
                                <i class="fa fa-key "></i>
                            </a>
                            <a class="btn btn-cog btn-default"><i class="fa fa-cog"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-center">
                    <div class="application">
                        <a class="btn-app disabled">
                            <i class="glyph-icon flaticon-screen40 app-icon"></i>
                            <div class="app-title">Wall monitor</div>
                        </a>
                        <div class="app-control-group">
                            <a class="btn btn-cog btn-primary">Need Premium&nbsp<i class="fa fa-question-circle"></i></a>
                        </div>                            
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-12">
                    <p>Consectetur art party Tonx culpa semiotics. Pinterest assumenda minim organic quis.</p>

                    <p>Wayfarers selvage YOLO, commodo assumenda eu est bespoke mlkshk. Helvetica reprehenderit iPhone, aesthetic 90's literally chambray bicycle rights viral blog voluptate. Occupy bespoke stumptown duis keytar vero.</p>
                </div>
            </div>
        </div>
    </div>

</div>
