<div class="customer-screen-question col-xs-12 col-table">
    <div class="row row-3">
        <div class="col-xs-12 vertical-middle">
            <h1 class="heading-reset">この中でどの果物が一番好きですか？</h1>
        </div>
    </div>
    <div class="row row-7">
        <div class="col-xs-12">
            <div class="wrapper">
                <div class="col-xs-6 col-xs-6 nowrap-fix">
                    <div class="btn-wrapper">
                        <span class="btn-kiosk-option active text-blink">
                        りんご</span>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-6 nowrap-fix">
                    <div class="btn-wrapper">
                        <span class="btn-kiosk-option">スイカ</span>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-6 nowrap-fix">
                    <div class="btn-wrapper">
                        <span class="btn-kiosk-option">メロン</span>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-6 nowrap-fix">
                    <div class="btn-wrapper">
                        <span class="btn-kiosk-option active">苺</span>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-6 nowrap-fix">
                    <div class="btn-wrapper">
                        <span class="btn-kiosk-option active">グレープフルーツ</span>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-6 nowrap-fix">
                    <div class="btn-wrapper">
                        <span class="btn-kiosk-option">Watermelon</span>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-6 nowrap-fix">
                    <div class="btn-wrapper">
                        <span class="btn-kiosk-option">123456789</span>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-6 nowrap-fix">
                    <div class="btn-wrapper">
                        <span class="btn-kiosk-option" disabled>ああああああああああああああああああああああああああああああ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
