<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">
                        <span class="label label-primary">1</span>受付画面のメッセージ</a>
                </li>
                <li>
                    <a href="#question-edit" data-toggle="tab">
                        <span class="label label-primary">2</span>問題編集</a>
                </li>
                <li>
                    <a href="#complete" data-toggle="tab">
                        <span class="label label-primary">3</span>完成画面</a>
                </li>
                <li>
                    <a href="#settings" data-toggle="tab">
                        <span class="label label-primary">4</span>Settings</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- pane start -->
                <div class="tab-pane active" id="home">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-12">
                                <blockquote class="blockquote-primary">これは説明内容の場所です、今は見通り何もありませんから、自分で何とかしよう。下のフォームはKioskアプリの受付画面を設定ができます、右下のプレビューを押して実際の画面が見えます。<a class="btn btn-question"><i class="fa fa-question"></i></a>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <form role="form" class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-4">
                                                <input type="text" class="form-control focus" placeholder="吉野家">
                                            </div>
                                            <div class="col-sm-8 col-xs-8">
                                                <input type="text" class="form-control focus" placeholder="ようこそ!">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-10">
                                            <div class="col-md-12">
                                                <div class="thumbnail thumbnail-kiosk-logo focus">
                                                    <img src="http://placehold.it/950x250&text=logo" class="kiosk-logo" alt="">
                                                    <label for="exampleInputFile">Logo upload</label>
                                                    <input type="file" id="exampleInputFile">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-center">
                                                <p>ただいま
                                                    <span class="persudo-counter">10</span>組様がお待ちです
                                                    <br>下のボタンを押して順番に入ります</p>
                                            </div>
                                            <div class="col-xs-12 col-center">
                                                <button type="button" class="btn btn-default btn-lg">Start</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="wrapper">
                                                <div class="persudo-navs">
                                                    <div class="persudo-nav active"></div>
                                                    <div class="persudo-nav"></div>
                                                    <div class="persudo-nav"></div>
                                                    <div class="persudo-nav"></div>
                                                    <div class="persudo-nav"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-groups  pull-right">
                                    <div class="btn btn-default">Cancel</div>
                                    <div class="btn btn-success">Save Change</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pane end -->
                </div>
                <div class="tab-pane" id="question-edit">
                    <!-- pane start -->
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6 col-xs-8">
                                <h3>Question Edit</h3>
                            </div>
                            <div class="col-sm-6 col-xs-4">
                                <div class="form-groups pull-right">
                                    <div class="btn btn-primary"><i class="fa fa-plus"></i>Add Question</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form role="form" class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Question 1
                                        <div class="btn-default btn btn-xs pull-right">
                                            Remove
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-sm-12">
                                            <div class="form-group has-warning has-feedback">
                                                <label class="control-label" for="inputWarning2">名前 - Can not be null!</label>
                                                <input type="text" class="form-control" id="inputWarning2" placeholder="">
                                                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                            </div>
                                            <div class="form-group has-error">
                                                <label class="control-label" for="inputError2">Content is too Long!</label>
                                                <label class="control-label pull-right" for="inputWarning2">55/180</label>
                                                <textarea class="form-control" rows="2">質問 - How many persons are there in your party?</textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <ul class="row">
                                                <li class="col-sm-6 has-success has-feedback">
                                                    <input type="input" class="form-control" placeholder="Answer 1">
                                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                                </li>
                                                <li class="col-sm-6">
                                                    <input type="input" class="form-control" placeholder="Answer 2">
                                                </li>
                                                <li class="col-sm-6">
                                                    <input type="input" class="form-control" placeholder="Answer 3">
                                                </li>
                                                <li class="col-sm-6">
                                                    <input type="input" class="form-control" placeholder="Answer 4">
                                                </li>
                                                <li class="col-sm-6">
                                                    <input type="input" class="form-control" placeholder="Answer 5">
                                                </li>
                                                <li class="col-sm-6">
                                                    <input type="input" class="form-control" placeholder="Answer 6">
                                                </li>
                                                <li class="col-sm-6">
                                                    <input type="input" class="form-control" placeholder="Answer 7">
                                                </li>
                                                <li class="col-sm-6">
                                                    <input type="input" class="form-control" placeholder="Answer 8">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    *Separate options by new line
                                </p>
                            </div>
                        </div>
                    </form>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-xs-4">
                                <div class="form-groups">
                                    <div class="btn btn-primary"><i class="fa fa-plus"></i>Add Question</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-8">
                                <div class="form-groups  pull-right">
                                    <div class="btn btn-default">Cancel</div>
                                    <div class="btn btn-success">Save Change</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pane end -->
                </div>
                <!-- pane start -->
                <div class="tab-pane" id="complete">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-12">
                                <blockquote class="blockquote-primary">以下は完成画面のメッセージを変更するフォームです。<a class="btn btn-question"><i class="fa fa-question"></i></a>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <form role="form" class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12">&nbsp</div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="- Your turn was successfully added -">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Please patiently until your number is called">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-center">
                                                    <p>Do you want to trace List by Smartphone (QR code)?</p>
                                                    <img src="img/3d-phone.png"  width="300" alt="">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-center">
                                                <div class="btn btn-default btn-lg">Complete!</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="wrapper">
                                                <div class="persudo-navs">
                                                    <div class="persudo-nav"></div>
                                                    <div class="persudo-nav"></div>
                                                    <div class="persudo-nav"></div>
                                                    <div class="persudo-nav"></div>
                                                    <div class="persudo-nav active"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-groups  pull-right">
                                    <div class="btn btn-default">Cancel</div>
                                    <div class="btn btn-success">Save Change</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pane end -->
                </div>
                <div class="tab-pane" id="settings">...</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">1</span>&nbsp会員コース</h3>
                </div>
                <form class="form-horizontal panel-body" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">現在の契約</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Paid 有効期間
                                <span class="label label-warning">2014/06/30</span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">オプションの購入</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Yes</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">支払いスパン</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Advance payment for a month (Regular price)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">顧客の名前は、請求書に印刷され</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Peter Chung</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">顧客の住所に配置されたキューシステム</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">11111
                            </p>
                            <p class="form-control-static">
                                Taiwan Taipei</p>
                        </div>
                    </div>
                    <br>
                    <div class="col-sm-12 col-center">上記の値を修正するために、あなたは私たちのサポートデスクまでお電話ください。
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">2</span>&nbsp会員情報</h3>
                </div>
                <form role="form" class="panel-body">
                    <div class="form-group col-sm-12">
                        <!-- ID -->
                        <label for="userID">User ID</label>
                        <input type="id" class="form-control" id="userID" placeholder="peter.chung@mail.com" disabled>
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- PassWord -->
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- Confirm PassWord -->
                        <label for="passwordConfirm">Confirm-Password</label>
                        <input type="password" class="form-control" id="passwordConfirm" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- First Name -->
                        <label for="firstName">First Name</label>
                        <input type="name" class="form-control" id="firstName" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- Last Name -->
                        <label for="lastName">Last Name</label>
                        <input type="name" class="form-control" id="lastName" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-12">
                        <!-- Company(shop) Name -->
                        <label for="companyName">Compnay(shop) Name</label>
                        <input type="name" class="form-control" id="companyName" placeholder="peter.chung@mail.com" disabled>
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- Telephone Number -->
                        <label for="telephoneNumber">Telephone Number</label>
                        <input type="telephone-number" class="form-control" id="telephoneNumber" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- Category -->
                        <label for="category">Category</label>
                        <select id="category" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="">受付端末用URL</label>
                        <p><a href="">https://line-9.com/queue/kiosk/57_5365e233</a>
                        </p>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="">スタッフ端末用URL
                        </label>
                        <p><a href="">https://line-9.com/queue/kiosk/57_5365e233 </a>
                        </p>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="">順番チェッカー用URL</label>
                        <p><a href="">https://line-9.com/queue/kiosk/57_5365e233 </a>
                        </p>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="">順番モニター用URL</label>
                        <p><a href="">https://line-9.com/queue/kiosk/57_5365e233 </a>
                        </p>
                    </div>
                    <div class="form-group col-sm-12">
                        <a class="btn btn-primary">Save Change</a>
                        <a class="btn btn-default pull-right">Cancel</a> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">3</span>&nbsp選択肢</h3>
                </div>
                <div class="panel-body">
                    <h3>順番モニター</h3>
                    <p>オプションとして、10インチの順番モニターを月額1,000円のご利用できます。 順番モニター表示例
                    </p>
                    <p>
                        <img src="http://placehold.it/250x250">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
