<div class="customer-screen-complete-qr col-xs-12 col-table">
    <div class="row row-3">
        <div class="col-xs-12 col-center vertical-middle">
            <div>
                <h1>QRコードが読み取れるスマートフォンで、</h1>
                <h1>順番のチェックができます。</h1>
            </div>
        </div>
    </div>
    <div class="row row-qr row-4">
        <div class="col-xs-12 col-center vertical-middle">
            <div>
                <h1 class="text-primary">QRコードを発行しますか？</h1>
                <span class="list-number text-primary">8</span>
                <span class="image image-arrow-smartphone">
            </div>
        </div>
    </div>
    <div class="row row-3">
        <div class="col-md-12 col-xs-12 vertical-middle">
            <div>
                <div class="col-md-6 col-xs-6"><a class="btn btn-default btn-question btn-block">
                    発行しない</a>
                </div>
                <div class="col-md-6 col-xs-6"><a class="btn btn-default btn-question btn-block">発行する</a>
                </div>
            </div>
        </div>
    </div>
</div>
