<div class="customer-screen-sign col-xs-12 col-table">
    <div class="row-question row">
        <div class="col-md-12 col-center">
            <h1 class="heading-reset">Please Sign Your Name</h1>
        </div>
    </div>
    <div class="row-answer row row-9">
        <div class="col-md-12 col-xs-12 height-100">
            <div class="signature-area">
                <div class="signature-area-writable"></div>
                <div class="animate stylie ">
                    <i class="glyph-icon flaticon-finger2 "></i>
                </div>
                <svg version="1.1" id="svg-signature" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 400" enable-background="new 0 0 960 560" xml:space="preserve">
                    <g>
                                    <g>
                                        <path class="path" fill="none" stroke="#000000" stroke-width="4" d="M135.444,193.574c38.84-2.411,76.17-14.657,114.815-18.519c-0.432-0.752-0.863-1.505-1.295-2.257
            c-21.317,28.734-46.348,54.406-70.181,81.009c-12.333,13.767-24.991,27.173-37.857,40.443
            c-6.088,6.279-12.487,12.39-18.149,19.059c-5.38,6.339-10.208,13.233-16.978,18.21" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="path" fill="none" stroke="#000000" stroke-width="4" d="M185.26,244.683c16.871,36.489,40.805,69.172,64.444,101.481" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="path" fill="none" stroke="#000000" stroke-width="4" d="M342.111,188.389c37.149-2.343,73.763-10.951,111.111-10.37c-0.432-0.752-0.863-1.505-1.295-2.257
            c-8.524,13.542-19.436,25.24-29.93,37.242c-10.155,11.615-18.81,24.315-27.421,37.089c-16.521,24.506-36.021,46.705-53.019,70.855
            " />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="path" fill="none" stroke="#000000" stroke-width="4" d="M400.075,246.164c11.118,18.496,22.771,36.676,36.137,53.643c5.876,7.46,12.28,14.484,18.24,21.877
            " />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="path" fill="none" stroke="#000000" stroke-width="4" d="M465.495,170.172c3.527,4.494,4.763,10.25,6.281,15.634" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="path" fill="none" stroke="#000000" stroke-width="4" d="M476.961,166.547c2.371,6.684,2.809,14.473,7.793,19.921" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="path" fill="none" stroke="#000000" stroke-width="4" d="M569.917,202.409c30.428-9.45,60.718-24.646,92.935-26.613" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="path" fill="none" stroke="#000000" stroke-width="4" d="M559.547,275.002c30.026-5.111,56.299-21.484,85.64-28.727c10.911-2.693,22.085-4.278,33.077-6.599
            c9.514-2.009,20.295-4.148,28.308-10.011" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path class="path" fill="none" stroke="#000000" stroke-width="4" d="M612.463,142.444c1.389,35.074,9.99,69.432,18.873,103.231c4.598,17.498,9.189,34.948,13.14,52.606
            c4.164,18.617,8.156,37.275,13.227,55.673c0.177,0.644,0.779,1.102,1.446,1.102" />
                                    </g>
                                </g>
                </svg>
            </div>
        </div>
    </div>
    <div class="row-pagination row row-6-em">
        <div class="col-md-12 col-center">
            <div class="col-md-offset-2 col-md-3 col-sm-offset-2  col-sm-3 col-xs-4">
                <a class="btn btn-default btn-block btn-lg btn-forward">
                    <span class="glyphicon  glyphicon-repeat"></span>&nbspRewrite</a>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-8">
                <a class="btn btn-custom btn-block btn-lg btn-next">Next <span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>