<div class="col-xs-12 col-table">
    <div class="row row-10">
        <div class="col-xs-12 centered-in-unknow">
            <div class="centered">
                <h1 class="text-success text-lg">您已經成功加入隊列!</h1>
                <h2 class="text-primary">以下是您的號碼牌，請靜候我們的通知。</h2>
                <br>
                <div class="card card-primary card-lg">
                    <span class="serial">99</span>
                    <span class="signature">
                        <div class="img-signature"></div>
                    </span>
                    <span class="esquire">様</span>
                </div>
            </div>
        </div>
    </div>
</div>
