<div class="customer-screen-home col-xs-12 col-table">
    <div class="row row-4">
        <span id="brand-logo" class="image image-jyunban-logo"></span>
    </div>
    <div class="row row-3">
        <div class="col-xs-12 col-center vertical-middle">
            <h1 class="text-no-margin">ただいま
                <span class="groups-counter">
                    <span class="groups-counter-number">21</span>
                </span>組様がお待ちです</h1>
        </div>
    </div>
    <div class="row row-3">
        <div class="wrapper">
            <div class="col-xs-12 vertical-middle">      
            <div class="wrapper">                          
                <div class="btn-wrapper btn-kiosk-lg">
                    <span class="btn-kiosk btn-kiosk-start">スタート</span>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
