
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">1</span>&nbsp会員コース</h3>
                </div>
                <form class="form-horizontal panel-body" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">現在の契約</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Paid 有効期間
                                <span class="label label-warning">2014/06/30</span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">オプションの購入</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Yes</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">支払いスパン</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Advance payment for a month (Regular price)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">顧客の名前は、請求書に印刷され</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Peter Chung</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">顧客の住所に配置されたキューシステム</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">11111
                            </p>
                            <p class="form-control-static">
                                Taiwan Taipei</p>
                        </div>
                    </div>
                    <br>
                    <div class="col-sm-12 col-center">上記の値を修正するために、あなたは私たちのサポートデスクまでお電話ください。
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">2</span>&nbsp会員情報</h3>
                </div>
                <form role="form" class="panel-body">
                    <div class="form-group col-sm-12">
                        <!-- ID -->
                        <label for="userID">User ID</label>
                        <input type="id" class="form-control" id="userID" placeholder="peter.chung@mail.com" disabled>
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- PassWord -->
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- Confirm PassWord -->
                        <label for="passwordConfirm">Confirm-Password</label>
                        <input type="password" class="form-control" id="passwordConfirm" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- First Name -->
                        <label for="firstName">First Name</label>
                        <input type="name" class="form-control" id="firstName" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- Last Name -->
                        <label for="lastName">Last Name</label>
                        <input type="name" class="form-control" id="lastName" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-12">
                        <!-- Company(shop) Name -->
                        <label for="companyName">Compnay(shop) Name</label>
                        <input type="name" class="form-control" id="companyName" placeholder="peter.chung@mail.com" disabled>
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- Telephone Number -->
                        <label for="telephoneNumber">Telephone Number</label>
                        <input type="telephone-number" class="form-control" id="telephoneNumber" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- Category -->
                        <label for="category">Category</label>
                        <select id="category" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="">受付端末用URL</label>
                        <p><a href="">https://line-9.com/queue/kiosk/57_5365e233</a>
                        </p>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="">スタッフ端末用URL
                        </label>
                        <p><a href="">https://line-9.com/queue/kiosk/57_5365e233 </a>
                        </p>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="">順番チェッカー用URL</label>
                        <p><a href="">https://line-9.com/queue/kiosk/57_5365e233 </a>
                        </p>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="">順番モニター用URL</label>
                        <p><a href="">https://line-9.com/queue/kiosk/57_5365e233 </a>
                        </p>
                    </div>
                    <div class="form-group col-sm-12">
                        <a class="btn btn-primary">Save Change</a>
                        <a class="btn btn-default pull-right">Cancel</a> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">3</span>&nbsp選択肢</h3>
                </div>
                <div class="panel-body">
                    <h3>順番モニター</h3>
                    <p>オプションとして、10インチの順番モニターを月額1,000円のご利用できます。 順番モニター表示例
                    </p>
                    <p>
                        <img src="http://placehold.it/250x250">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
