<div class="customer-screen-question col-xs-12 col-table">
    <div class="row">
        <div class="col-md-12 col-center">
            <h1 class="heading-reset">This is a Sample Title.</h1>
        </div>
    </div>
    <div class="row row-9">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-6 col-xs-6 nowrap-fix"><a class="btn btn-custom btn-question btn-block">
                りんご</a>
            </div>
            <div class="col-md-6 col-xs-6 nowrap-fix"><a class="btn btn-custom btn-question btn-block">スイカ</a>
            </div>
            <div class="col-md-6 col-xs-6 nowrap-fix"><a class="btn btn-custom btn-question btn-block">メロン</a>
            </div>
            <div class="col-md-6 col-xs-6 nowrap-fix"><a class="btn btn-custom btn-question btn-block">苺</a>
            </div>
            <div class="col-md-6 col-xs-6 nowrap-fix"><a class="btn btn-custom btn-question btn-block">グレープフルーツ</a>
            </div>
            <div class="col-md-6 col-xs-6 nowrap-fix"><a class="btn btn-custom btn-question btn-block">Watermelon</a>
            </div>
            <div class="col-md-6 col-xs-6 nowrap-fix"><a class="btn btn-custom btn-question btn-block">123456789</a>
            </div>
            <div class="col-md-6 col-xs-6 nowrap-fix"><a class="btn btn-custom btn-question btn-block">ああああああああああああああああああああああああああああああ</a>
            </div>
        </div>
    </div>
    <div class="row row-6-em">
        <div class="col-md-12 col-center">
            <div class="col-md-offset-2 col-md-3 col-sm-offset-2  col-sm-3 col-xs-4">
                <a class="btn btn-default btn-block btn-lg btn-forward">Forward</a>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-8">
                <a class="btn btn-custom btn-block btn-lg btn-next">Next<i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>