<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">1</span>順番登録画面のレイアウト</h3>
                </div>
                <form class="form-horizontal panel-body" role="form">
                    <div class="col-sm-12 col-center">受付画面のレイアウトは、ご利用のスクリーンサイズに合わせ下図の通り自動で変化します。
                    </div>
                    <div class="form-group">
                        <label>21-24 inch (1920 x 1080 pxl)</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">
                                <img src="http://placehold.it/350x150">
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="form-control-static">
                                <img src="http://placehold.it/350x150">
                            </p>
                            <p>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>21-24 inch (1920 x 1080 pxl)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">21-24 inch (1920 x 1080 pxl)
                                    </label>
                                </div>
                            </p>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">2</span>受付画面に表示されるメッセージ</h3>
                </div>
                <form role="form" class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="label label-primary">ようこそ画面</label>
                            <p class="form-control-static">
                                <img src="http://placehold.it/350x150">
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-1" for="A">A</label>
                                <input type="input" class="form-control col-sm-11" id="A" placeholder="Welcome">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1" for="B">B</label>
                                <input type="input" class="form-control col-sm-11" id="B" placeholder="Push button below to get in the line">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="label label-primary">Option Screen</label>
                            <p class="form-control-static">
                                <img src="http://placehold.it/350x150">
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="name">名前</label>
                                            <input type="input" class="form-control" id="name" placeholder="Pax">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5">How many persons are there in your party?</textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <textarea class="form-control" role="textarea" rows="10">1 2 3 4 5 6 7 8+

                                        </textarea>
                                    </div>

                                </div>
                            </div>
                            <p>
                                *Separate options by new line
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">3</span>お客様のスマートフォンに表示されるメッセージ</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <img src="http://placehold.it/250x250">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
