<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">1</span>&nbsp順番登録画面のレイアウト</h3>
                </div>
                <form class="form-horizontal panel-body" role="form">
                    <div class="col-sm-12 col-center">受付画面のレイアウトは、ご利用のスクリーンサイズに合わせ下図の通り自動で変化します。
                    </div>
                    <div class="form-group">
                        <label>21-24 inch (1920 x 1080 pxl)</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">
                                <img src="http://placehold.it/350x150">
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="form-control-static">
                                <img src="http://placehold.it/350x150">
                            </p>
                            <p>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>21-24 inch (1920 x 1080 pxl)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">21-24 inch (1920 x 1080 pxl)
                                    </label>
                                </div>
                            </p>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">2</span>&nbsp受付画面に表示されるメッセージ</h3>
                </div>
                <form role="form" class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="label label-primary">ようこそ画面</label>
                            <p class="form-control-static">
                                <img src="http://placehold.it/350x150">
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-1" for="A">A</label>
                                <input type="input" class="form-control col-sm-11" id="A" placeholder="Welcome">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1" for="B">B</label>
                                <input type="input" class="form-control col-sm-11" id="B" placeholder="Push button below to get in the line">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6 col-xs-8">
                            <h3>
                                <span class="label label-primary">3</span>&nbspQuestion Edit</h3>
                        </div>
                        <div class="col-sm-6 col-xs-4">
                            <div class="form-groups pull-right">
                                <div class="btn btn-primary">Add Question</div>
                            </div>
                        </div>
                    </div>
                </div>
                <form role="form" class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Question 1
                                    <div class="btn-default btn btn-xs pull-right">
                                        Remove
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <div class="form-group has-warning has-feedback">
                                            <label class="control-label" for="inputWarning2">名前 - Can not be null!</label>
                                            <input type="text" class="form-control" id="inputWarning2" placeholder="">
                                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError2">Content is too Long!</label>
                                            <label class="control-label pull-right" for="inputWarning2">55/180</label>
                                            <textarea class="form-control" rows="2">質問 - How many persons are there in your party?</textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <li class="col-sm-6 has-success has-feedback">
                                                <input type="input" class="form-control" placeholder="Answer 1"><span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                            </li>
                                            <li class="col-sm-6">
                                                <input type="input" class="form-control" placeholder="Answer 2">
                                            </li>
                                            <li class="col-sm-6">
                                                <input type="input" class="form-control" placeholder="Answer 3">
                                            </li>
                                            <li class="col-sm-6">
                                                <input type="input" class="form-control" placeholder="Answer 4">
                                            </li>
                                            <li class="col-sm-6">
                                                <input type="input" class="form-control" placeholder="Answer 5">
                                            </li>
                                            <li class="col-sm-6">
                                                <input type="input" class="form-control" placeholder="Answer 6">
                                            </li>
                                            <li class="col-sm-6">
                                                <input type="input" class="form-control" placeholder="Answer 7">
                                            </li>
                                            <li class="col-sm-6">
                                                <input type="input" class="form-control" placeholder="Answer 8">
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                                *Separate options by new line
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="label label-primary">4</span>&nbspお客様のスマートフォンに表示されるメッセージ</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <img src="http://placehold.it/250x250">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
