<div class="customer-screen-qr col-xs-12 col-table">
    <div class="row row-3">
        <div class="col-xs-12 col-center vertical-middle">
            <div>
                <h1 class="heading-reset text-success">- お客様の順番が登録されました。 -</h1>
                <h2 class="heading-reset text-muted">お名前が呼ばれるまでお待ちください。</h2>
            </div>
        </div>
    </div>
    <div class="row row-qr row-4">
        <div class="col-xs-12 table">
            <div class="table-cell">
                <div class="card card-primary">
                    <span class="serial">99</span>
                    <span class="signature">
                        <div class="img-signature"></div>
                    </span>
                    <span class="esquire">様</span>
                </div>
            </div>
            <div class="table-cell">
                <span class="css-arrow-right"></span>
            </div>
            <div class="table-cell">
                <span class="image image-qrcode"></span>
            </div>
        </div>
    </div>
    <div class="row row-1">
        <div class="centered-in-unknow">
            <div class="centered">
                <h3>QRコードの撮影が終わったら下のボタンを押してください。</h3>
            </div>
        </div>
    </div>
    <div class="row row-2">
        <div class="col-md-12 col-xs-12 vertical-middle">
            <div>
                <div class="col-xs-offset-3 col-xs-6"><a class="btn btn-custom btn-question btn-block">最初の画面に戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>
