<div class="customer-screen-question col-xs-12 col-table" ng-controller="QuestionCtrl">
    <div class="row">
        <div class="col-md-12 col-center">
            <h1 class="heading-reset" ng-bind="questionService.currentQuestion().question"></h1>
        </div>
    </div>
    <div class="row row-9">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-6 col-xs-6 nowrap-fix" ng-repeat="answer in questionService.currentQuestion().answers">
                <a class="btn btn-custom btn-question btn-block" 
                   ng-click="questionService.selectAnswer({{$index}}); nextStep();"
                   ng-class="{true:'btn - primary',false:''}[{{$index}}=== questionService.currentQuestion().selected]">{{answer}}</a>
            </div>
        </div>
    </div>
    <div class="row row-6-em">
        <div class="col-md-12 col-center">
            <div class="col-md-offset-2 col-md-3 col-sm-offset-2  col-sm-3 col-xs-4">
                <a class="btn btn-default btn-block btn-lg btn-forward" ng-click="prevStep()">Forward</a>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-8">
                <a class="btn btn-custom btn-block btn-lg btn-next" 
                   ng-click="nextStep()" 
                   ng-disabled="questionService.currentQuestion().selected == null">Next <span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>
